<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ data.title|escape }}</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<header>
    {% include 'header.html' %}
</header>
<div class="container">
    <div class="gallery">
        <div class="gallery-item">
            <h3>{{ data.title|escape }}</h3>
            <img class="gallery-img" src="{{ data.url|escape }}" alt="{{ data.title|escape }}">
            <div class="views">Просмотров: {{ data.views|escape }}</div>
            <button class="back" onclick="window.location.href='/gallery.php'">Назад</button>
        </div>
    </div>
</div>
</body>
</html>