<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Галерея</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<header>
    {% include 'header.html' %}
</header>

<div class="container">
    <div class="gallery">
        {% for d in data %}
        <div class="gallery-item">
            <a href="/galleryItem.php?id={{ d.id|escape }}">
                <img class="gallery-img" src="{{ d.url|escape }}" alt="{{ d.title|escape }}" width="250">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>