{% extends "index.twig" %}

{% block title %}
Каталог
{% endblock %}

{% block greeting %}
<h1>Каталог</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="catalog">
        {% include 'catalog/catalogList.twig' %}
    </div>
    <div class="pagination">
        <button class="pag-next">{{ "ещё"|upper }}</button>
    </div>
</div>
{% endblock %}